/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

*,
body {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

body {
  margin: 0;
  paddin: 0;
  font-family: 'Open Sans', sans-serif;
}

.wrap {
  max-width: 75%;
  margin: 0 auto;
}
.top_nav {
  height: 10%;
  border-bottom: 1px solid #ccc;
  margin: 0 auto;
}

.top_nav p {
  font-weight: 800;
  margin-top: 30px;
  display: inline-block;
}

.top_nav a {
  display: inline-block;
}

.user_profile {
  margin-top: 10px;
}

.nav-section {
  position: relative;
  margin: 0 auto;
  display: inline-block;
  width: 33%;
  text-align: center;
}


.top_nav h1{
  font-size: 300%;
  text-align: center;
  margin: 1%;
}

* a {
  color: #333;
  margin: 10px;
}

* a:hover {
  color: rgb(255, 222, 0);
}

.navImg {
  width: 30px;
  height: 30px;
}

section {
  padding: 5%;
}

.profilePic {
  max-width: 25%;
  text-align: center;
  display: block;
  margin: 0 auto;
}

.profileName {
  display: block;
  font-size: 200%;
  max-width: 50%;
  text-align: center;
  margin: 0 auto;
}

.user_profile {
  text-align: center;
  margin: 0 auto;
}

.aHub {
  /*border: 1px solid red;*/
  max-width: 20%;
  display: inline-block;
  text-align: center;
  margin: 2%;
}

.user_profile {
  border-bottom: 1px solid #444;
}

.dashboard {
  text-align: center;
  border-bottom: 1px solid #ccc;
}

.dHeading,
.dControls {
  display: inline-block;
  width: 50%;
  text-align: center;
}
